/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 
 *= require bootstrap_and_overrides

 *= require_self
*/



/* ====================================Header==================================== */
.navbar {
  	margin-bottom: 0;
  	background-color: black;
  }

.navbar-btn {
  margin-bottom: 0px;
  margin-top: 0px;
}


  .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  .navbar .nav > li > a {
  	color: #ffffff;
  }

/*================================Carousel=======================================*/

.img-carousel
{
	width: 100%;
  height: 50%;

}

#carousel-img-juli {
  height: 727px;
  position: relative;
}
.fa-c{
	margin-top: 350px;
}

.absolute {
  position: absolute;
  top: 350px;
  right: 10px;
  left: 330px;
  width: 100%;
  height: 200px;
  margin: auto; 
}

/*====================================Paralax==================================== */


#parallax2 { 
  background: url(asset-path("eco.jpg")) 100% 0 fixed; 
  background-repeat: no-repeat;
  height: 100%;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 200px 0;
  background-position: center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
  background-size: cover;
 -o-background-size: cover;
}
#contact { 
  background: url(asset-path("Playita1.jpg")) 100% fixed; 
  height: 100%;
  margin: 0 auto;  
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
  color: #fff;
  background-position: center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
  background-size: cover;
 -o-background-size: cover;
}

#parallax3 { 
  background: url(asset-path("eco.jpg")) 100% 0 fixed; 
  background-repeat: no-repeat;
  height: 100%;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
  background-position: center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
  background-size: cover;
 -o-background-size: cover;
}

#parallax4 { 
  background: url(asset-path("eco.jpg")) 100% 0 fixed; 
  background-repeat: no-repeat;
  height: 100%;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
  background-position: center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
  background-size: cover;
 -o-background-size: cover;
}

/*====================================Paralax==================================== */

.fa-contact {
  color:blue;
}

.container {
      padding: 10px 120px;
  }

.bg-1 h1 {
  color: #fff;
}

.bg-1 h3 {
  font-style: italic;
}


.pull-right{
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}

.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

/* Add a dark background color to the footer */
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}

footer a {
  color: #f5f5f5;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}

/*===============================================Profits=====================================*/

#profits {
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 100%;
  background-color: blue;
}

/*============================================Community======================================*/

#community {
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 100%;
  background-color: blue;

}

#product {
  background-color: blue;
}