/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 
 *= require bootstrap_and_overrides

 *= require_self
*/

/* ====================================Header==================================== */
.navbar {
  	margin-bottom: 0;
  	background-color: black;
  }


  .navbar-inverse .nav > li > a .btn-juli {
  color: #ffffff;}


  .navbar .nav > li > a {
  	color: #ffffff;
  }

.img-carousel
{
	width: 100%;
}
.fa-c{
	margin-top: 100%;
}

/*====================================Paralax==================================== */

#about { 
    background: url(asset-path("eco.jpg")) 100% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}
#discover { 
    background: url(asset-path("home.jpg")) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}
#contact { 
    background: url(asset-path("Playita1.jpg")) 50% fixed; 
    background-position: 50% center fixed;
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #fff;
}